<div class="titles">
  <h1>Choose Category</h1>
</div>

<div id="products-title">
  <a href="/products">PRODUCTS PAGE</a>
</div>

<div id="articles-title" href='/articles'>
  <a href="/articles">ARTICLES PAGE</a>
</div>