<h1>EDIT PAGE</h1>

//Responds with HTML generated from your templates
//The HTML should contain a form (with values already pre-filled?) so that a user can update the information for a product. This form points to your server's route for editing a product.
//file name: edit.hbs